@charset "UTF-8";

#T
{
		margin: 100;
		width: 250px;
  	height: 250px;
  	background: #fff;
  	transition: all 1s;
  	transition-timing-function: ease-out;
}

#T:hover
{
	transform: scale(2.5);
	transform: rotate(1080deg);
}
