@charset "UTF-8";

#I
{
		margin: 100;
		width: 30px;
  	height: 30px;
  	background: #fff;
  	transition: all 1s;
  	transition-timing-function: ease-out;
  	opacity:0.2;
}

#I:hover
{
	transform: scale(2.5);
	opacity:1;
}
